

@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Welcom To My Portofilo API Documention</h1>
    <p><a href="/swagger/index.html">To see Api Documention Check this </a>.</p>
</div>

